@import url('https://fonts.googleapis.com/css2?family=Inter:wght@100;200;300;400;500;600;700;800;900&display=swap');
/* html{
    height: 100%;
    width: 100%;
} */

body {
    font-family: 'Inter', sans-serif;
    margin: 0;
    padding: 0;
    color: #023047;
    overflow-y: hidden;
    background-image: linear-gradient(110deg, rgb(255, 255, 255) 60%, rgb(70, 5, 5) 60%);
    background-repeat: no-repeat;
    height: 110vh;
}


.page {
    display: flex;
    flex-direction: row-reverse;
    align-items: center;
    align-content: center;
    justify-content: space-between;
    height: 100%;
    /* column-gap: 30%; */
    padding-left: 4.2%;
}

#logo{
    opacity: 60%;
}

#voltar-img{
    height: 30px;
    width: 30px;
    background-color: rgb(70, 5, 5);
    padding: 10px;
    border-radius: 20px;
}

#link-voltar{
    display: flex;
    width: fit-content;
    margin: 0px !important;
}

#link-voltar:visited{
    color: black;
}

.containerLogo_media{
    display: none;
}

.container-topo-form{
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.formLogin {
    display: flex;
    flex-direction: column;
    background-color: #fff;
    border-radius: 7px;
    padding: 40px;
    box-shadow: 10px 10px 40px rgba(0, 0, 0, 0.4);
    gap: 5px;
}

.formLogin h1 {
    padding: 0;
    margin: 0;
    font-weight: 500;
    font-size: 2.3em;
}

.formLogin p {
    display: inline-block;
    font-size: 14px;
    color: #666;
    margin-bottom: 25px;
}

.formLogin input {
    padding: 15px;
    font-size: 14px;
    border: 1px solid #ccc;
    margin-bottom: 20px;
    margin-top: 5px;
    border-radius: 4px;
    transition: all linear 160ms;
    outline: none;
}

.formLogin input:focus {
    border: 1px solid rgb(70, 5, 5);
}

.formLogin label {
    font-size: 14px;
    font-weight: 600;
}

.formLogin a {
    display: inline-block;
    text-align: center;
    margin-bottom: 18px;
    font-size: 13px;
    color: #555;
    transition: all linear 160ms;
}

.formLogin a:hover {
    color: rgb(70, 5, 5);
}

.btn {
    background-color: rgb(70, 5, 5);
    color: #fff;
    font-size: 14px;
    font-weight: 600;
    border: none !important;
    transition: all linear 160ms;
    cursor: pointer;
    margin: 0 !important;
    margin-top: 19px;
}

.btn:hover {
    transform: scale(1.05);
    background-color: #be072f;
}

@media screen and (max-width: 1365px){
    .page{
        padding: 0px;
        align-items: center;
        align-content: center;
        justify-content: center;
    }

    .containerLogo{
        display: none;
    }

    .containerLogo_media{
        display: block;
    }
    
    #logo_media{
        width: 50px;
        height: 50px;
        background-color: rgb(70, 5, 5);
    }
}

@media screen and (max-width: 420px){
    body{
        background-image: none;
    }
    
    .formLogin{
        box-shadow: none;
    }
}

@media screen and (max-height: 550px) {
    body{
        height: fit-content;
        overflow-y: auto;
    }
}
